body {
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #0f172a; 
}

.login{
    background-color: #1e293b; 
    padding: 30px;
    border-radius: 10px;
    width: 400px; 
    text-align: center
}
.login input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: #38bdf8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login h1{
    color:#cbd5e1;
}